{% extends 'base.html' %}
{% block title %} Fund Account{% endblock %}
{% block content %} 
    <form  method='POST' id="paymentForm">

      <div class="form-column">
        <div class="form-group col-md-6">
         <span>Balance : </span>
         <span name='balance' id='balance'>{{ balance }}</span>
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" name='email' class="form-control" id="email" placeholder="Email" required>
        </div>

        <div class="form-group col-md-6">
          <label for="amount">Amount</label>
          <input type="text" name='amount' class="form-control" id="amount" placeholder="Amount" required>
        </div>
        
        <div class="form-group col-md-6">
          <label for="first-name">First Name</label>
          <input type="text" name= 'first-name' class="form-control" id="first-name" placeholder="First Name" required>
        </div>

        <div class="form-group col-md-6">
          <label for="last-name">Last Name</label>
          <input type="text" name= 'last-name' class="form-control" id="last-name" placeholder="Last Name" required>
        </div>

        <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary" onclick="payWithPaystack()"> Fund Account</button>
        </div>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='funding.js') }}"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script> 

        
{% endblock %}