{% extends "base.html" %} 
{% block title %}TRANSFER{% endblock %}
{% block content %} 
    <form method='POST' id="transferForm">
     
      <div class="form-column">
        <div class="form-group col-md-6">
          <span>Balance : </span>
          <span name='trans_balance' id='trans_balance'>{{ balance }}</span>
        </div>

        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" name = 'name' id="name" placeholder="Name" required>
        </div>

        <div class="form-group col-md-6">
          <label for="amount">Amount</label>
          <input type="num" class="form-control" name = 'amount' id="amount" placeholder="Amount" required>
        </div>

        <div class="form-group col-md-6">
          <label for="user_choice">User Choice</label>
          <select id='userNames' name='user_choice' class='form-control'>
            {% if user_list %}
                {% for u in user_list %}
                    {% if u.id != current_user.id %}
                      <option value='{{u.id}}'>{{ u.email }}</option>
                    {% endif %}
                {% endfor %}
            {% else %}  
            <option >None</option>  
            {% endif %}
          </select>
        </div>
      <button type="submit" class="btn btn-primary">Transfer</button>

      </div>
      
    </form>
        
{% endblock %}